body{
    background-color: rgb(218, 138, 255);
    background-size: 100%;
}
#juego{
    height: 100%;
    width: 100%;
}

#svgid{
    display: block;
    margin: auto;
    margin-top:20px;
    background-image: url(fondo.gif);
    background-size: 100%;
}